.dockerignore
.editorconfig
.git/
/.github/
**/.gitignore
**/.npmignore
**/.vscode/
**/*.sh
**/*.tar.gz
**/*.tgz
**/node_modules/
**/README.md
**/scripts/
**/test/
**/tsconfig.eslint.json
**/vscode.code-workspace
Dockerfile
**/*.tgz
*.tar.gz
**/.env
.commmitlintrc.json
.versionrc.js
